.item-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #22AA64;
  gap: 8px;
  border-radius: 0px 0px 8px 0px;
  color: white;
  text-decoration: none;
  padding: 8px 8px;
}
